<mat-card>
  <mat-card-header>
<mat-card-title>
  Contactez moi
</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item role="listitem">
        <mat-icon mat-list-icon>forward_to_inbox</mat-icon>
        <div>Email</div>
        <span class="spacer"></span>
        <a href="mailto:anto75019@gmail.com?subject=Contact via site">anto75019@gmail.com</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <mat-icon mat-list-icon>phone_android</mat-icon>
        <div>Téléphone</div>
        <span class="spacer"></span>
        <a href="tel:0688077361">06-88-07-73-61</a>
        
      </mat-list-item>
    </mat-list>
  </mat-card-content>
  </mat-card>
