<div class="container-fluid">










  <div class="row">

    <div class="col-12">
      <mat-card>
        <mat-card-header>
          <!-- Profile widget -->
          <div class="w-100">
            <div class="px-4 pt-0 pb-4 mx-auto">
              <div class="media align-items-end profile-header">
                <div class="profile mr-3"><img src="/assets/moi.jpg" alt="..." width="130"
                    class="rounded mb-2 img-thumbnail">
                </div>
                <div class="media-body mb-5">
                  <h4 class="mt-0 mb-0">Antony Noyelle</h4>
                  <p class="mb-4">Developpeur Javascript Angular NodeJs</p>

                </div>
              </div>
            </div>


          </div><!-- End profile widget -->
        </mat-card-header>
        <!-- <img mat-card-image src="/assets/moi.jpg" alt="Photo of a Shiba Inu"> -->
        <mat-card-content>
          <p style="text-align: justify;">
            Issu du milieu de l’évènementiel et de la télé, j’ai démarré le code en autodidacte sur des projets
            personnels, puis commencé à intégrer le code dans mes expériences professionnelles. Suite à ça, c’est devenu
            une évidence. Je suis fait pour coder.
            Aimant le défi et la simplicité, je me retrouve parfaitement dans mon élément quand il s’agit de faire de
            l’algorithme. J’ai donc décidé il y a quelques années de me lancer entièrement dans le code et je ne
            regrette
            pas mon choix.
          </p>
        </mat-card-content>

      </mat-card>
    </div>


    <div class="col-12 mt-3 ">
      <app-timeline></app-timeline>
    </div>

    <div class="col-12 mt-3 ">
      <app-competence></app-competence>
    </div>



  </div>
</div>